<!DOCTYPE html>
<html lang="en">
{%load static %}
{%include 'common/icon.html' %}
{%include "admin/admin_sidebar.html" %}


<head>
    <style>
    #wrapper {
    right:20px;
    width:1100px;
    position:absolute;
     }
     .table_outer { height: 15em; overflow: auto; }
     .col-md-6
     {
      width:900px;
      top:5px;
     }
     .row
     {
     top:80px;
    right:80px;
    position:absolute;

     }
     label
     {color:blue;}

    .card-header
    {
    background:black;
    }


  .btn-primary {
  background-color: #ff4b5a;
  border: none;
  color: white;
  align:center;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  }
     .button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;

  }



</style>
    <meta charset="UTF-8">
    <title>Product Type</title>
</head>
<script type="text/javascript">
                 function Validation()
                 {
			    alert("Added Successfully");
				}

                 </script>

<link href="{%static 'css/main.css' %}" rel="stylesheet" >
<body>
<div id="wrapper" class="d-flex flex-column">
    <h1 align="center">Manufacturer</h1>
      <section class="content" style="color:blue">
      <div class="container-fluid" style="color:blue">
        <div class="row">

          <div class="col-md-6" style="color:blue">
            <div class="card card-primary" >
              <div class="card-header" >
                <h3 class="card-title" style="color:grey;" >Add New Manufacturer</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form"  method="post" action="{%url 'manufacturer' %}" onsubmit="return (Validation());" >
              {% csrf_token %}
       <div class="card-body">
                  <div class="form-group">
                    <label for="language">Manufacturer Name</label>
                    <input type="text" class="form-control" id="manfac" placeholder="manufacturer " name="manu_name" required="">
                      <br>
                      <label for="language"> Location</label>
                    <input type="text" class="form-control" id="loc" placeholder="location" name="manu_loc" required="">
                  </div>

                  </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" style="height:50px">Add </button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
            <div class="col-md-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title" style="color:grey;">Manufacturer</h3>
              </div>
              <!-- /.card-header -->
              <div class="table_outer">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">Manufacturer</th>
                      <th style="width: 10px">Location</th>
                      <th></th>

                    </tr>
                  </thead>
                  <tbody>
                    {%for man in man%}
                    <tr>
                      <td>{{man.manu_name}}</td>
                      <td>{{man.manu_location}}</td>
                      <td style="width: 10px" class="button"><a href="{%url 'edit' id=man.id %}" onclick="return confirm('Are you sure you want to edit this item')" class="fa fa-edit" style="font-size:18px;color:white"></a> </td>
                        <td style="width: 10px" class="button"><a href="{%url 'del' id=man.id %}" onclick="return confirm('Are you sure you want to delete this item')" class="fa fa-trash" style="font-size:18px;color:white" ></a> </td>
                    </tr>
                    {%endfor%}
                   </tbody>
                </table>
              </div>

              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
<!-- /.container-fluid -->
      </div>
    </section>

                        </div>
     </div>

</body>
</html>