<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <style>
          input[type=text] {
  width: 200px;

    </style>
    <!-- Google Font -->
    <link href= 'https://fonts.googleapis.com/css2?family=Cookie&display=swap'  rel="stylesheet">
    <link href= 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap'
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/newstyle.css'  %}"  type="text/css">
</head>
<body>
<!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="{%static 'img/logos.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                             <!--<li class="active"><a href="./index.html">Home</a></li>-->
                            {%for cate in cate%}
                            <li><a href="{%url 'category' id=cate.id regid=regobj.id %}">{{cate.cate_name}}</a></li>
                            {% endfor %}
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            <a href="{% url 'login' %}">Login</a>
                            <a href="{% url 'signup' %}">Signup</a>
                        </div>
                        <ul class="header__right__widget">

                            <li><a href="#"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
</body>
    <!-- Header Section End -->
</html>