<!DOCTYPE html>
<html lang="en">
<head>
     {%load static %}
  {%include "common/icon.html" %}


    <style>
       .butoonclass
    {
    font-weight: bold;

     position: relative;
     width: 40%;
    left: 100px;
    background: #ff4b5a;
  line-height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
    }
        .wrap
    {
    align:center;
    width:500px;
    height:300px;
    right:400px;
    position:absolute;}
    </style>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<link href="{%static 'css/main.css' %}" rel="stylesheet" >

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrap">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Login</h2>
                </div>
                <h5 style="color:red">{{error}}</h5>
                <div class="card-body">
                    <form method="POST" action="{%url 'login' %}" name="frmlogin">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="login_email" required="">
                                </div>
                            </div>
                        </div>
                      <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="password" name="login_password" required="">
                                </div>
                            </div>
                        </div>



                        <div>
                            <button class="butoonclass" type="submit" >Login</button>
                        </div>
                         <div class="form-row p-t-20">
                            <label class="label label--block"><a class="profile-links" href="{%url 'signup' %}">Not Signed Up yet?</a></li></label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>

</body>
</body>
</html>