<!DOCTYPE html>
<html lang="en">
<head>
  {%load static %}
  {%include "common/icon.html" %}
  <style>
    body
    {
    background:white;
    }
    .butoonclass
    {
    font-weight: bold;

     position: relative;
     width: 40%;
    left: 100px;
    background: #ff4b5a;
  line-height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
    }
    .page-wrapper bg-gra-03 p-t-45 p-b-50
    {
    background:white;
    }
    .btn--red {
  background: #ff4b5a;
  align:center;
}
    .wrap
    {
    align:center;
    width,height:500px;
    right:400px;
    position:absolute;}
  </style>
    <meta charset="UTF-8">
    <title>Signup Form</title>
</head>
   <!-- Main CSS-->
    <link href="{%static 'css/main.css' %}" rel="stylesheet" >
<body>

  <script type="text/javascript">

       function Validation()
                 {
                 var genders = document.getElementsByName("user_gender");
                   if (!(genders[0].checked || genders[1].checked))
                    {
			       alert("Please Select Your Gender");
                   return false;
                     }

			      var pass=document.form.password.value;

			          if(pass.length < 8)
			          {
			          alert("password must be  atleast 8 characters")
			          return false;
			          form.password.focus;
			          }
		         	}


  </script>

    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrap">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Signup Form</h2>
                </div>
                <div class="card-body">




                    <form name="form" method="POST" action="{%url 'signup' %}" onsubmit="return (Validation());">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="name">Name</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="name" required="">
                                </div>
                            </div>
                        </div>
                       <div class="form-row p-t-20">
                             <div class="name">Gender</div>
                            <div class="p-t-15">
                                <label class="radio-container m-r-55">Male
                                    <input type="radio"  name="user_gender" value="1">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">Female
                                    <input type="radio" name="user_gender" value="2">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                     <!--- <div class="form-row">
                            <div class="name">Phone Number</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="phone" required="">
                                </div>
                            </div>
                        </div>--->
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="email" name="email" required="">
                                  <h5 style="color:red" > {{error}} </h5>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="password" name="password" required="">
                                </div>
                            </div>
                        </div>

                     <!--  <div class="form-row">
                            <div class="name">Subject</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="subject">
                                            <option disabled="disabled" selected="selected">Choose option</option>
                                            <option>Subject 1</option>
                                            <option>Subject 2</option>
                                            <option>Subject 3</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <div>
                            <button class="butoonclass" type="submit" align="center" >Sign Up</button>
                        </div>

                        <div class="form-row p-t-20">
                            <label class="label label--block"><a class="profile-links" href="{%url 'login' %}">Are you a existing Customer?</a></li></label>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{%static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{%static 'vendor/datepicker/moment.min.js' %}"></script>
    <script src="{%static 'vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{%static 'js/global.js' %}"></script>

</body>
</html>